@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@import "./common.scss";

.ServContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 38px 108.5px 38px 108.5px;
  @media (max-width: variables.$smartphone) {
    gap: 20px;
    margin: 20px 0px 19px 0px;
  }
}

.ServItem {
  width: 100%;
}
