@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@use "./common";

/**
 * ============================================================================
 * BANNER MODULE
 * ============================================================================
 *
 * Composant Banner.
 *
 * Responsabilités :
 * - Affiche une image de fond (background-image injecté via React)
 * - Applique un overlay via linear-gradient côté composant
 * - Centre un slogan au-dessus de l’image
 *
 * Responsive :
 * - Desktop : hauteur 223px / border-radius 25px
 * - Mobile  : hauteur 111px / border-radius 10px
 *
 * Le composant utilise Flexbox pour centrer le contenu.
 *
 * ============================================================================
 */

.banner {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  @include mixins.mobile {
    height: 111px;
    border-radius: 10px;
  }

  overflow: hidden;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include mixins.mobile {
    font-size: 24px;
    padding-left: 16px;
    justify-content: flex-start;
  }

  &__slogan {
    font-size: 48px;
    @include mixins.mobile {
      font-size: 24px;
    }
    font-weight: variables.$bold;
    color: variables.$white-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
