@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@use "./common";

.carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  @include mixins.mobile {
    height: 255px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    @include mixins.mobile {
      border-radius: 10px;
    }
  }

  &_arrowleft,
  &_arrowright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 0;
  }
  &_arrowleft {
    left: 0px;
  }
  &_arrowright {
    right: 0px;
  }
  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: variables.$white-color;
    font-size: 18px;
    font-weight: variables.$medium;
    line-height: 142.6%;
    @include mixins.mobile {
      visibility: hidden;
    }
  }
}

.carrousel__chevron {
  width: 96px;

  @include mixins.mobile {
    width: 24px;
  }
}
