/**
 * ============================================================================
 * COLLAPSE MODULE
 * ============================================================================
 *
 * Composant Collapse (section dépliable).
 *
 * Structure :
 * - .rulesagency : en-tête cliquable 
 * - .rulesagency__title : texte du titre
 * - .rulesagency__toggle : contenu affiché lorsque le collapse est ouvert
 *
 * Responsabilités :
 * - Gestion visuelle de l’en-tête (layout flex, couleur primaire)
 * - Gestion du bloc de contenu déplié
 *
 * ============================================================================
 */

@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@use "./common";

.rulesagency {
  background-color: variables.$primary-color;
  color: variables.$white-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-radius: 10px;
  padding: 10px 20px 10px 15px;
  @include mixins.mobile {
    padding: 10px 10px;
    height: 30px;
    border-radius: 5px;
  }
  width: 100%;
  &__arrowup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    filter: brightness(0) invert(1);
  }
  &__title {
    font-size: var(--title-size-desktop, 24px);
    font-weight: variables.$bold;
    @include mixins.mobile {
      width: 293px;
      font-size: var(--title-size-mobile, 13px);
    }
    line-height: 142.6%;
  }

  &__toggle {
    background-color: #f6f6f64d;
    border-radius: 5px;

    p {
      color: variables.$black-color;
      margin: 0;
      padding: 25px 28px 20px 20px;
      pointer-events: none;
      font-size: 18px;
      font-weight: variables.$regular;
      opacity: 0;
      transform: translateY(-30px);
      animation: collapseFadeIn 350ms ease-out forwards;

      @include mixins.mobile {
        padding: 13px 20px 19px 20px;
        font-size: 12px;
      }
      line-height: 142.6%;
      letter-spacing: 0;
    }
  }
}

.collapse__chevron {
  width: 32px;

  @include mixins.mobile {
    width: 24px;
  }
}
