@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@import "./common.scss";

.rulesagency {
  background: variables.$primary-color;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  @media (max-width: variables.$smartphone) {
    padding: 10px 10px;
    height: 30px;
  }
  width: 100%;
  &__arrowup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    filter: brightness(0) invert(1);
  }
  &__title {
    font-size: 24px;
    font-weight: variables.$bold;
    @media (max-width: variables.$smartphone) {
      width: 293px;
      font-size: 13px;
    }
    line-height: 142.6%;
  }

  &__toggle {
    color: variables.$primary-color;
    background: #f6f6f64d;
    border-radius: 5px;

    p {
      color: black;
      margin: 0;
      padding: 25px 28px 20px 20px;
      pointer-events: none;
      font-size: 18px;
      font-weight: variables.$regular;
      @media (max-width: variables.$smartphone) {
        padding: 13px 20px 19px 20px;
        font-size: 12px;
      }
      line-height: 142.6%;
      letter-spacing: 0;
    }
  }
}
