@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@use "./common";

/**
 * ============================================================================
 * ERREUR MODULE (404)
 * ============================================================================
 *
 * Styles de la page d’erreur 404.
 *
 * Responsabilités :
 * - Centrage vertical et horizontal du contenu
 * - Mise en valeur du code erreur
 * - Gestion des espacements importants (desktop / mobile)
 * - Typographie adaptée responsive
 *
 * Structure :
 * - .erreurpage : conteneur principal
 * - .erreurpage__404 : affichage du code erreur
 *
 * ============================================================================
 */

.erreurpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$primary-color;
  text-align: center;
  gap: 139px;
  @include mixins.mobile {
    gap: 113px;
  }
  &__404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 597px;
    height: 263px;
    font-size: 96px;
    font-weight: variables.$bold;
    line-height: 142.6%;
    margin-top: 139px;
    @include mixins.mobile {
      width: 198px;
      height: 99px;
      margin-top: 93px;
    }
  }
  p {
    font-size: 36px;
    font-weight: variables.$medium;
    @include mixins.mobile {
      font-size: 18px;
    }
    line-height: 142.6%;
    letter-spacing: 0;
  }
  a {
    color: black;
    font-size: 18px;
    font-weight: variables.$medium;
    margin-bottom: 119px;
    @include mixins.mobile {
      font-size: 14px;
      margin-bottom: 85px;
    }
    line-height: 142.6%;
    letter-spacing: 0;
  }
}
