/**
 * ============================================================================
 * FOOTER MODULE
 * ============================================================================
 *
 * Composant Footer global de l’application.
 *
 * Responsabilités :
 * - Affichage du logo 
 * - Affichage des mentions légales
 * - Alignement vertical centré
 *
 * Structure :
 * - .footer : conteneur principal
 * - .footer__logo : zone contenant le logo
 *
 * ============================================================================
 */
@use "../styles/_variables";
@use "../styles/_mixins";
@use "../styles/_keyframes";
@use "./common";

/**
 * Block : Footer
 * Pied de page global avec fond noir.
 */
.footer {
  background-color: variables.$black-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 209px;
  &__logo {
    padding-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 122px;
      height: 40px;
      fill: variables.$white-color;
    }
  }
  p {
    margin-top: 29px;
    color: variables.$white-color;
    font-size: 24px;
    @include mixins.mobile {
      font-size: 12px;
      width: 133px;
    }
    text-align: center;
    font-weight: variables.$medium;
    line-height: 142.6%;
  }
}
